.task__container {
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    .card_container {
        display: flex;
        overflow-x: scroll;
        flex-grow: 1;
    }
}
