<div class="card_content__wrapper">
    <p> {{card.name }} ( {{ card.count }}) </p>
    <dx-button icon="plus" text="Thêm công việc"> </dx-button>
    <div>
        <dx-list
            [dataSource]="tasks"
            [repaintChangesOnly]="true"
            keyExpr="name"
        >
            <div *dxTemplate="let item of 'item'">
                <app-task [task]="item.tasks"> </app-task>
            </div>
            <dxo-item-dragging
                group="name"
                [data]="tasks"
                [allowReordering]="true"
                [onDragStart]="onDragStart"
                [onAdd]="onAdd"
                [onRemove]="onRemove"
            >
            </dxo-item-dragging>
        </dx-list>
    </div>
</div>
