.card_content__wrapper {
    margin: 10px;
    max-width: 450px;
    min-width: 350px;
    .add-btn {
        background-color: #f3f5f9;
        color: #7c86a1;
        font-size: 18px;
        border: none;
        i {
            color: #7c86a1;
        }
    }
}
::ng-deep .dx-list-item {
    width: unset !important;
    border-top: none !important;
}
